
body{
    background-color:cornsilk;
}

.mainMenu{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    padding-bottom: 2rem;
}

.pageContent{
}

.buttonMenu{
    cursor: pointer;
    padding: 1rem;
    border-radius: 15px;
    border-width: 0.2rem;
    border-style:outset;
}

.failText{
    color: red;
}

.successText{
    color: green;
}

.hide{
    display:none;
}