.Cell{
    border: black solid 3px;
    max-width: 77px;
    max-height: 77px;
    height: 77px;
    width: 77px;
}

.board{
    border: black solid 3px; 
    height:800px; 
    width:800px
}

.tr{
    border: black solid 3px;
}

#Cell_center{
    border: black solid 3px;
}